html{
    background-color: teal;
    background-image: url(./circuit-board.svg);
}
body{
    background-color:seagreen!important;
    background-image: url(./circuit-board.svg);
}

/*<<<<<< Display section >>>>>>>*/
#display {
    margin: 2vh 0;
    height: 20vh;
    background-color: #a9a9a9;
}
#code, #show{
    font-size: 20px;
}

/*<<<<<<<<<<<< Buttons >>>>>>>>>>>>*/
.col-3, .col-6{
    margin-top: 2vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    background-color:#161515;
    border-radius: 100%;
}
.opr{
    background-color: darkorange;
}

@media screen and (min-width: 450px){
    body{
        max-width: 449px;
        margin: 0px auto !important;
    }
    #code, #show{
        font-size: 25px;
    }
    .container{
        height: 100vh;
    }
}
@media screen and (min-width: 2000px){
    body{
        max-width: 650px;
        margin: 0px auto !important;
    }
    #code, #show{
        font-size: 35px;
    }
    .container{
        height: 100vh;
    }
}
@media screen and (min-height: 1100px){
    #code{
        font-size: 1rem;
    }
    #show{
        font-size: 1.5rem;
    }
}